@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="col-sm-12 form-horizontal">
        <div class="form-group col-sm-12">
            <div class="col-md-3">
                <input type="button" value=" GetJson " id="btnJson" class="btn btn-danger" />
                <input type="button" value=" GetCustomers " id="btnXml" class="btn btn-success" />
            </div>
            <div class="col-md-9" id="content">

            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $('#btnJson').click(function () {
        $.ajax({
            url: "http://localhost:8731/WcfServiceContainer/ShoppingCartService/json/20",
            type: "GET",
            dataType: "json",

            success: function (data) {
                $("#content").html("");
                if (data != null) {
                    var str = "";
                    str = "<table class='table table responsive'>";
                    $.each(data.GetJsonDataResult, function (key, value) {
                        str += "<tr scope='row'>";
                        str += "<td>" + value.ProductID + "</td>";
                        str += "<td><img src=" + value.ProductUrl + " alt='NoImage'></td>";
                        str += "<td>" + value.ProductName + "</td>";
                        str += "<td><strong>" + value.ProductPrice + "</strong></td>";
                        str += "<td>" + value.ProductImage + "</td>";
                        str += "</tr>";
                    });

                    str += "</table>";
                    console.log(str);
                    $("#content").html(str);

                }



            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#content").html("");
                alert(textStatus);
            }
        });
    });

    $('#btnXml').click(function () {
        $.ajax({
            url: "http://localhost:8731/WcfServiceContainer/ShoppingCartService/json",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#content").html("");
                var str1 = "";
                if (data.GetCustomerDetailsResult != null) {
                str1 = "<table class='table table responsive'>";
                $.each(data.GetCustomerDetailsResult, function (key, value) {
                    str1 += "<tr scope='row'>";
                    str1 += "<td>" + value.CustomerID + "</td>";
                    str1 += "<td>" + value.CompanyName + "</td>";
                    str1 += "<td>" + value.ContactName + "</td>";
                    str1 += "<td><strong>" + value.Region + "</strong></td>";
                    str1 += "<td>" + value.Country + "</td>";
                    str1 += "</tr>";
                });

                str1 += "</table>";
               
                $("#content").html(str1);
}
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
</script>