@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-2">
        <input type="button" value=" GetJson " id="btnJson" class="btn btn-danger" />
    </div>
    <div class="col-md-2">
        <input type="button" value=" GetXml " id="btnXml" class="btn btn-success" />
    </div>
    
</div>

<script type="text/javascript">
    $('#btnJson').click(function () {
        $.ajax({
            url: "http://localhost:8731/WcfServiceContainer/ShoppingCartService/json/20",
            type: "GET",
            dataType: "json",
            
            success: function (data) {
                console.log(JSON.stringify(data));

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    });
    
    $('#btnXml').click(function () {
        $.ajax({
           url: "http://localhost:8731/WcfServiceContainer/ShoppingCartService/xml/20",
            //url: "../Content/Record.xml",
            type: "GET",
            dataType: "xml",
            success: function (data) {
                console.log(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.responseText);
            }
        });
    });
</script>